/* ---------------------------------------------------------------------------------------------------- */
/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ---------------------------------------------------------------------------------------------------- */
/* GLOBAL */



/* ---------------------------------------------------------------------------------------------------- */
/* CONTENT */

/**** MAIN COLOR
http://www.colourlovers.com/palette/600798/(_t_r_a_v_e_l_e_r_)
ECF0D6 236,240,214
DDE4B5 221,228,181
93AEA6 147,174,166
5E677A 94,103,122
5B585A 91,88,90
*/

body{font-family: 'Roboto', sans-serif; }


#wrapper{
  height: 600px;
  width: 800px;
  border: solid 1px;
  padding: 10px;
  border-color: #E3E3E3;
}
#header{
    width:100%;
    margin:auto;
    background-color:#DDE4B5;
    color:#5B585A;
    font-size:36px;
    text-align:center;
    height:10%;
}




#ytd-budget-ref {
    height: 40%;
    width: 40%;
    float: right;
    margin-top: 10px;
}

#YTD-bar {
    height: 40%;
    width: 60%;
    float: left;
    margin-top: 10px;

}

#multi-bar {
    height: 45%;
    margin: auto;

}

.bar
{
    height:30%;
    width: 60%;
}
