/**** MAIN COLOR
http://www.colourlovers.com/palette/600798/(_t_r_a_v_e_l_e_r_)
ECF0D6 236,240,214
DDE4B5 221,228,181
93AEA6 147,174,166
5E677A 94,103,122
5B585A 91,88,90
*/

body{font-family: 'Roboto', sans-serif; }

#container {
	width: 800px;
	height: 600px;
	border: solid 1px;
	text-align: center;
	
}
.content {
	margin: 5px;
	border: solid 1px;
}

.title {
	color: #5B585A;
}
